<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello from the controller, the time is @DateTime.Now.ToShortDateString()
    </div>
</body>
</html>
